<!DOCTYPE html>
<html>
<head>
    <title>Uppgift 3</title>
</head>
<body ng-app='myApp'>
    <div ng-controller='writerController'>
        <p>{{input.value}}</p>
        <input ng-model='input.value' type='text'></input>
    </div>
        <div ng-controller='writerController'>
        <p>{{input.value}}</p>
        <input ng-model='input.value' type='text'></input>
    </div>
        <div ng-controller='writerController'>
        <p>{{input.value}}</p>
        <input ng-model='input.value' type='text'></input>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script src="app.js" type="text/javascript"></script>
</body>
</html>