<!DOCTYPE html>
<html>
<head>
    <title>animal-animals</title>
</head>
<body ng-app="animalAnimals">

    <div ng-controller="myController">
        <h1>Animals</h1>
        <ul ng-repeat="animal in animals | orderBy: ['checked', 'name']">
            <li><input type="checkbox" ng-model="animal.checked">{{ animal.name }}</li>
        </ul>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script src="app.js" type="text/javascript"></script>
</body>
</html>